{% extends "base.html" %}
{% block content %}

<div class="container">
<!--<h1 class="title">Welcome, {{name}}!</h1>-->
  <h1 class="title">Welcome! Your details are as below</h1>
  <br>
  <br>
  <h1 class="title">First Name: {{firstname}}</h1>
  <h1 class="title">Last Name : {{lastname}}</h1>
  <h1 class="title">Email     : {{email}}</h1>
  <h1 class="title">Count of Words as below</h1>
  <p style="color:grey;" size="+2">{{message}}</p>
  <a href="{{ url_for('download') }}" download ="OutputFile.txt">Download Your File</a>
</a>
</div>
{% endblock %}